.table tr td img {
  width: 70px !important;
  height: 50px !important;
  object-fit: cover;
}

td i{
  text-align: center;
  padding: 0px 14px;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}
td, th{
  color: var(--primary-color);
}