.table tr td img {
  width: 70px !important;
  height: 70px !important;
  object-fit: cover;
  border-radius: 50%;
}

td{
  text-align: center;
  padding: 0px 14px;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}
td, th{
  color: var(--primary-color);
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 50px;
}

@media only screen and (max-width: 546px){
  .table tr td img {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover;
    border-radius: 50%;
  }
  td{
    font-size: 0.7rem;
    font-weight: 600;
  }
}